<h1 class="mb-4">Login Page</h1>

<button class="pointer-events-auto rounded-md bg-indigo-600 py-2 px-3 text-[0.8125rem] font-semibold leading-5 text-white hover:bg-indigo-500" type="button" {{on "click" this.authenticate}}>Login</button>
