name: Playwright Tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  test_playwright:
    name: Playwright tests queue
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - uses: c-hive/gha-yarn-cache@v2
    - name: Install dependencies
      run: yarn install
    - name: Install Playwright Browsers
      run: yarn playwright install --with-deps
    - name: Run Playwright tests
      run: yarn test:playwright
    - name: Merge coverage results
      run: npm run nyc:merge:playwright
    - name: Generate coverage report
      run: npm run nyc:report
    - name: Upload Playwright coverage report
      uses: actions/upload-artifact@v3
      with:
        name: playwright-coverage
        path: ./coverage/playwright-final.json
        retention-days: 30
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
